@import url("https://fonts.googleapis.com/css2?family=Quando&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: #F8FCFF;
  color: #0E0025;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

h1,
h2,
h3,
h4 {
  font-family: "Quando", serif;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

.navbar {
  background-color: #E7F3FC;
  z-index: 1000;
}

.navbar-brand {
  font-family: "Quando", serif;
  font-size: 24px;
  color: #0E0025;
  pointer-events: none;
}

.btn,
button {
  border: none;
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 4px;
}
.btn img {
  width: 40px;
}

.btn-prim {
  background-color: #6944FE;
  color: #F8FCFF;
}
.btn-prim:hover {
  background-color: #490ACF;
}
.btn-prim:active {
  background-color: #200064 !important;
}

.btn-wrong {
  background-color: #EC2A0F;
  color: #0E0025;
}
.btn-wrong:hover {
  background-color: #FE6550;
}
.btn-wrong:active {
  background-color: #FAA498 !important;
}

.btn-icon-text img {
  margin-right: 10px;
}

.btn-tr {
  background-color: transparent;
  color: #0E0025;
}
.btn-tr:hover {
  background-color: #C8D1FF;
  color: #0E0025;
}
.btn-tr:active {
  background-color: #9087FE !important;
  color: #0E0025 !important;
}

.btn-active {
  background-color: #C8D1FF;
}
.btn-active:hover, .btn-active:active {
  background-color: #C8D1FF !important;
  cursor: default;
}

.btn-close-menu {
  position: absolute;
  top: 30px;
  right: -80px;
}

.app-menu {
  background-color: #E7F3FC;
  width: 350px;
  z-index: 500;
}

@media (max-width: 991.98px) {
  .app-menu {
    position: absolute;
    left: -100vw;
    z-index: 1500;
  }
  .app-menu.app-menu-shown {
    left: 0;
  }
}