.btn,
button {
    border: none;
}

.btn {
    display: flex;
    align-items: center;
}

.btn-tr {
    background-color: transparent;
    color: $black;

    &:active,
    &:hover {
        background-color: $courtain-gray !important;
        color: $black;
    }
}

// User button:
.icon-user {
    img {
        width: 35px;
    }
}