.app-menu {
    background-color: $gray-3;
    width: 350px;
    z-index: 500;
    left: 0;

    &.app-menu-shown,
    &.app-menu-hidden {
        left: 0;
    }
}

@media (max-width: 991.98px) {
    .app-menu {
        position: absolute;
        left: -100vw;
        z-index: 1500;

        &.app-menu-shown {
            animation-name: menu-slide-in;
            animation-duration: 200ms;
            animation-timing-function: ease-out;
            left: 0;
        }

        &.app-menu-hidden {
            animation-name: menu-slide-out;
            animation-duration: 200ms;
            animation-timing-function: ease-in;
            left: -100vw;
        }
    }
}

@keyframes menu-slide-in {
    0% {
        left: -100vw;
    }

    100% {
        left: 0;
    }
}

@keyframes menu-slide-out {
    0% {
        left: 0;
    }

    100% {
        left: -100vw;
    }
}