.navbar {
    background-color: $gray-3;
    z-index: 1000;
}

.navbar-brand {
    font-family: $font-title;
    font-size: $f-subtitle;
    color: $black;
    pointer-events: none;
}

.dropdown-toggle::after {
    display: none;
}

.btn.show {
    background-color: $prim-3;
    color: $black;
}

.dropdown-menu {
    border: 0;
    border-radius: $radius;
    background-color: $gray-3;
}