body {
    margin: 0;
    padding: 0;
    background-color: $white;
    color: $black;
    font-family: $font-default;
    font-size: $f-default;
}

h1,
h2,
h3,
h4 {
    font-family: $font-title;
}

h1 {
    font-size: $f-title;
}

h2 {
    font-size: $f-subtitle;
}

h3 {
    font-size: $f-big;
}

input,
.form-control {
    border-radius: 0;
    background-color: $white;
    border: none;
    transition: $transition;

    &:hover {
        background-color: $prim-2;
    }

    &:focus {
        background-color: $white;
        box-shadow: 0 0 0 4px $prim-3 !important;
        border-radius: $radius;
    }

    &::placeholder {
        color: $gray-5;
    }
}

.section-gray-3 {
    background-color: $gray-3;
    color: $black;
}

.font-good {
    color: $good-5;
}

.font-wrong {
    color: $wrong-5;
}

.font-gray {
    color: $gray-5;
}