// Fonts imports:

@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Fonts:

$font-title: 'Quando', serif;
$font-default: 'Montserrat', sans-serif;

// Font sizes:

$f-default: 14px;
$f-title: 30px;
$f-subtitle: 24px;
$f-big: 18px;
$f-small: 12px;

// Colors:

$white: #f3f9ff;
$black: #002229;