// Fonts imports:

@import url('https://fonts.googleapis.com/css2?family=Quando&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

// Fonts:

$font-title: 'Quando', serif;
$font-default: 'Montserrat', sans-serif;

// Font sizes:

$f-default: 14px;
$f-title: 30px;
$f-subtitle: 24px;
$f-big: 18px;
$f-small: 12px;

// Colors:

$white: #F8FCFF;
$black: #0E0025;

$gray-3: #E7F3FC;
$gray-4: #AFC2CF;
$gray-5: #577082;
$gray-6: #334959;
$gray-7: #1A3243;

$prim-2: #C8D1FF;
$prim-3: #9087FE;
$prim-4: #6944FE;
$prim-5: #480EEE;
$prim-6: #490ACF;
$prim-7: #2F028F;
$prim-8: #200064;

$good-2: #D6FFBC;
$good-3: #A8F479;
$good-4: #63DE17;
$good-5: #50C309;
$good-6: #3D9804;
$good-7: #337B06;
$good-8: #256100;

$wrong-2: #FFD3CC;
$wrong-3: #FAA498;
$wrong-4: #FE6550;
$wrong-5: #EC2A0F;
$wrong-6: #DB250B;
$wrong-7: #A81804;
$wrong-8: #730E00;

$courtain-gray: rgba(107, 143, 153, .4);

// Radiuses:

$radius: 4px;